@import "../../_css/common";

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
}

.formWrapper, .formContainer {
  padding: 20px; 
  width: 60%; 

  @include large-break {
    width: 80%; 
  }

  @include small-break {
    padding: 20px; 
    width: 100%; 
  }
}

.formTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;

  h3 {
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include mid-break {
      font-size: 34px;
      margin-bottom: 8px;
    }

    @include small-break {
      font-size: 24px;
    }
  }
}


