@use '../../../_css/queries.scss' as *;

.header {
  position: relative;
  padding: 36px 0;
}

.shopName {
  font-size: 2.5rem;
  text-transform: uppercase;

  @include small-break {
    font-size: 2rem;
    text-align: center;
    margin-left: 40px;
  }
}


.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);

  @include small-break {
    justify-content: center;
    align-items: center;
  }
}

.hide {
  display: none;
}

.hamburger {
  display: none; 
  position: relative;

  @include small-break {
    display: block; 
    cursor: pointer;
    padding: 10px;
    border: none;
    background: transparent;
  }
}

.hamburgerIcon {
  display: none; 

  @include small-break {
    display: block;
    width: 24px; 
    height: 2px; 
    background-color: #000000; 
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px; 
      background-color: #000000; 
      left: 0;
      transition: all 0.4s ease-in-out;
    }

    &::before { top: -8px; } 
    &::after { bottom: -8px; } 
  }
}

.mobileNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%; 
  width: 80%; 
  background: white; 
  transition: left 0.4s ease-in-out;
  z-index: 100;
  overflow-y: auto; 
  padding: 20px; 

  @include small-break {
    display: block; 
  }
}

.mobileNavOpen {
  left: 0; 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px);
  z-index: 99; 
}

.closeIcon, .closeContainer {
  display: none;

  @include small-break {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background-color: none;
    background: none;
    outline: none;
    color: #18181b;
  }
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.mobileNavList li:not(:last-child) {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.mobileNavList a {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.menuFooterContainer {
  display: none;

  @include small-break {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
}

.menuFooterLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

