@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.navLinks {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  gap: 30px;

  a {
    text-decoration: none;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #000000;
      transition: width 0.2s ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}
@include small-break {
  .navLinks {
    display: none;
  }
}



